<!doctype html>
<html ng-app="catequeseonlineApp">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Catequese OnLine (beta - 0.2)</title>
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body>

  <div class="col-md-12">
    <div class="row">
      <nav ng-controller="LoginController" ng-show="auth" class="navbar navbar-default">
        <ul class="nav nav-pills">
          <li><a href="#/home">Home</a></li>
          <li ng-show="false"><a href="#/login">login</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Turma<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a>Novo</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#/turmalist">Turma</a></li>
              <li><a href="#/turmamap/0">Mapa</a></li>
            </ul>
          </li>          
          <li><a href="#/catequistaList">Catequista</a></li>
          <li><a href="#/areaList">Area</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catequizando <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a>Novo</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#/catequizandolist">Catequizandos</a></li>
              <li><a href="#/aniversario">Aniversariantes</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#/aniversario">Frequência</a></li>
            </ul>
          </li>
          <li ng-show="auth"><a href="" ng-click="logout()">Sair</a></li>
          <li>Olá, {{userLogin}}</li>
        </ul>
      </nav>
    </div>

    <div class="row">
      <div ng-controller="LoginController" ng-show="auth" class="col-md-2">
        <div class="btn-group-vertical">          

          <ul class="nav nav-pills nav-stacked">
            <!-- botao home -->
            <li role="presentation"><a href="#/home">Painel Principal</a></li>
            <li role="presentation"><a href="#/turmalist">Turma</a></li>
            <!-- catequizandos -->
            <li class="dropdown">
              <ul class="dropdown-menu">
                <li><a>Novo</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#/catequizandolist">Catequizandos</a></li>
                <li><a href="#/aniversario">Aniversariantes</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#/aniversario">Frequência</a></li>
              </ul>
            </li>
            <!-- botao turmas -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Turma<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a>Novo</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#/turmalist">Turma</a></li>
                <li><a href="#/turmamap/0">Mapa</a></li>
              </ul>
            </li>              
            <!-- catequisa -->        
            <li><a href="#/catequistaList">Catequista</a></li>
            <li ng-show="auth"><a href="" ng-click="logout()">Sair</a></li>
            <li>Olá, {{userLogin}}</li>            
          </ul>

        </div>    
      </div>

      <div class="col-md-10">
        <div ng-view></div>    
      </div>
    </div>  
    
  </div>
  
  <hr>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Paróquia Nossa Senhora da Glória</p>
      <p>
        <a href="paroquiansagloria.com.br">paroquiansagloria.com.br</a>
      </p>
    </div>
  </footer>

  <script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
  <script src="//rawgit.com/allenhwkim/angularjs-google-maps/master/build/scripts/ng-map.min.js"></script>''
  <script src="http://maps.google.com/maps/api/js"></script>


  <!-- Util -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/about.js"></script>


  <script src="scripts/service/WebServices.js"></script>
  <script src="scripts/service/authenticationService.js"></script>
  <script src="scripts/service/export.js"></script>
  <script src="scripts/service/TurmaService.js"></script>
  <script src="scripts/service/AreaService.js"></script>
  <script src="scripts/service/CatequistaService.js"></script>
  <script src="scripts/service/CatequizandoService.js"></script>

  <!-- script src="scripts/controller/appControllers.js"></script -->
  <script src="scripts/controllers/catequizandoModule.js"></script>
  <script src="scripts/controllers/catequistaModule.js"></script>
  <script src="scripts/controllers/turmaModule.js"></script>
  <script src="scripts/controllers/authenticationModule.js"></script>
  <script src="scripts/controllers/utilModule.js"></script>

  <script src="scripts/components/paginate.js"></script>
  <!-- endbuild -->
  

</body>

</html>