<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<div class="jumbotron">
	<h2>Catequese OnLine</h2>
	<p>Aplicativo para apoiar as atividades dos catequistas da Paróquia
		Nossa Senhora da Glória-Manaus</p>
</div>
<div class="col-md-12">
	<div class="col-md-4">
		<h4 align="center">Catequizandos</h4>
		<p>Cadastro e gerenciamento de catequizandos, design intuitivo e
			moderno.</p>
	</div>
	<div class="col-md-4">
		<h4 align="center">Catequistas</h4>
		<p>Cadastro e gerenciamento de catequistas, gerenciamento de
			turmas on-line, desing compitível para acesso mobile</p>
	</div>
</div>