<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Novo Dizimista</h4>
                        <p class="card-category">Informe os dados do dizimista</p>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-8">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Nome" [(ngModel)]="dmz.nome" name="nome">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Email" type="email"  [(ngModel)]="dmz.email" name="email"> 
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Endereço" type="text">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Telefone" type="text">
                                </mat-form-field>
                              </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="CEP" type="text">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Pastoral" type="text">
                                  </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Salvar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  