<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<div class="row">
	<div class="col-md-3"></div>

	<div class="col-md-9">

		<div class="panel-group" id="accordion">
			<div class="panel panel-default" id="dvData">
				<div class="panel-heading">
					<h4 class="panel-title">Turma : {{turma.nome}} : {{total}} <button ng-click="exportarExcel()">Imprimir</button> </h4>
				</div>
				<div class="panel-body" >
					<table class="table" >
						<tr>
							<td>ID</td>
							<td>Nome</td>
							<td>Nascimento</td>
							<td>Contato</td>
						</tr>
						<tr ng-repeat="c in registros" ng-class="{'alert alert-warning': c.frequencia == 0 }" >
							<td><a href="#/catequizandoturma/{{c.id}}/{{c.idTurmaAtual}}">#{{c.id}}</a></td>
							<td>{{c.nome}}</td>
							<td>{{formatData(c.nascimento)}}</td>
							<td>{{c.telCelular}}/{{c.telFixo}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>