<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<div class="row">
	<div class="col-md-3">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Ano</h4>
				</div>
				<div class="panel-body">
					<form class="form-inline">
						<div>
							<table>
								<tbody>
									<th>
										<td>2015</td>
									</th>
								</tbody>
							</table>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-9">

		<div class="panel-group" id="accordion">

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">Turmas</h4>
				</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<td>ID</td>
							<td>Ano</td>
							<td>Nome</td>
						</tr>
						<tr ng-repeat="t in registros">
							<td><a href="#/turma/{{t.id}}">#{{t.id}}</a></td>
							<td>{{t.ano}}</td>
							<td>{{t.nome}}</td>
						</tr>
					</table>
				</div>
			</div>

		</div>

	</div>
</div>